<h1><%= @user.name %> </h1>
<br>
<p>Username: <%= @user.user_name%></p>
<br>
<p>Age: <%= @user.age%></p>
<br>

<h3> Your Listed Swag</h3>
<ul>
  <% @user.swags.each do |swag| %>
  <li>
    <%= swag.name %>
  </li>
  <% end %>
</ul>

<h3> Rented Swag:</h3>
<ul>
    <% @user.rented_items.each do |appointment| %>
      <li>
        Date: <%= appointment.date %> 
        <br>
        Swag: <%= appointment.user_swag.swag.name %> 
        <br>
        Owner: <%= appointment.user_swag.user.name %> 
      </li>
  <% end %>
</ul>