<h4><%= @user.name %> </h4>
<br>
<p>Username:<%= @user.user_name%></p>
<br>
<p>Age:<%= @user.age%></p>
<br>

<p> Past Rented Swag:</p>
  <ul>
    <% @user.rented_items.each do |appointment| %>
      <li>
        Date: <%= appointment.date %> 
        <br>
        Swag: <%= appointment.user_swag.swag.name %> 
        <br>
        Owner: <%= appointment.user_swag.user.name %> 
      </li>
  <% end %>

</ul>