<% if flash[:user_swag_errors] %>
  <% flash[:user_swag_errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end  %>


<%= form_for(@user_swag) do |f|%>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.fields_for :swag do |swag| %>
        <%= swag.label :name %>
        <%= swag.text_field :name %> <br>

        <%= swag.label :image_url %>
        <%= swag.text_field :image_url %> <br>
    <% end %>
    Rent: <%= f.check_box :rent %> <br>
    Sell: <%= f.check_box :buy %> <br>
    <%= f.submit "Post Your Swag" %>
<% end %>


  