<% if flash[:user_swag_errors] %>
  <% flash[:user_swag_errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end  %>


<%= form_for(@user_swag) do |f|%>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.fields_for :swag do |swag| %>
        <%= swag.label :name %>
        <%= swag.text_field :name %> <br>

        <%= swag.label :image_url %>
        <%= swag.text_field :image_url %> <br>
    <% end %>
    <%#= f.label :swag_name, 'Name' %>
    <%#= f.text_field :swag_name, list: "established_items" %>
        <%#datalist id="established_items">
            <% Swag.all.each do |swag| %>
                <%#option value='<%= Swag.name %><%#%'></option>
            <%# end %>
        <%#/datalist>
        <br>
    <%#= f.label :swag_image, 'Image' %>
    <%#= f.text_field :swag_image %>
    Rent: <%= f.check_box :rent %> <br>
    Sell: <%= f.check_box :buy %> <br>
    <%= f.submit "Post Your Swag" %>
<% end %>


  