<div class="form-container">
<h1 class="form-header"> Post an Item </h1>

<% if flash[:user_swag_errors] %>
  <% flash[:user_swag_errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end  %>
<body id="form-bg">

<%= form_for(@user_swag) do |f|%>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.fields_for :swag do |swag| %>
        <div class="form-input">
        <%= swag.label :name %>
        <%= swag.text_field :name %> 
        </div>
        <br>
        <div class="form-input">
        <%= swag.label :image %>
        <%= swag.text_field :image_url %> 
        </div>
        <br>
    <% end %>
    <div class="form-input">
    <%= f.label 'Rent Price' %>
    <%= f.number_field :rent_price %> 
    </div>
    <br>
    <div class="form-input">
    <%= f.label 'Buy Price' %>
    <%= f.number_field :buy_price %> 
    </div>
    <br>
    <span style="color:white">Rent:</span> <%= f.check_box :rent %> <span style="color:white">Sell:</span> <%= f.check_box :buy %> <br>
    <br>
    <%= f.submit "Post Your Swag" %>
<% end %>
</body>
</div>