<head >
<link rel="stylesheet" href="swag.css">
  <body id="swagform">
  <div class="form-container">
    <h1> New Appointment </h1>
      <% if flash[:user_errors] %>
      <% flash[:user_errors].each do |error| %>
      <p style="color:red;"><%= error %></p>
      <% end %>
      <% end  %>

<%= form_for(@appointment) do |f|%>
<%= f.hidden_field :user_swag_id, :value => @user_swag_id %>
<div class="form-input">
<%= f.label :date %>
<%= f.datetime_field :date%>
</div>
<br>
<%= f.submit "Rent" %>
<% end %>
</div>
    </body>
      </head>