<!DOCTYPE html>
<html>
  <head>
    <title>Kalm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul class= "nav">
  <li><%= link_to "Swag", swags_path %></li>
  <li><%= link_to "Create a user", new_user_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
