<!DOCTYPE html>
<html>
  <head>
    <title>Kalm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class= "nav">
  <a id= "nav-brand" href="http://localhost:3000/"> K<span style="color: red">Λ</span>LM </a>
  <li><%= link_to "Swag", swags_path %></li>
  
  <% if @current_user %>
    <li> <%= link_to 'Rent Out or Sell Your Swag!', new_user_swag_path %> </li>
    <li class="right"> <%= link_to "Welcome #{@current_user.name}!", user_path(@current_user)%></li>
    <li class="right"> <%= link_to 'Log Out', logout_path, method: :delete %></li>
  <% else %>
    <li class="right"> <%= link_to 'Log In', new_login_path%>
    <li class="right"> <%= link_to 'Sign Up', signup_path%>
  <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
